In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('fakenews/train.csv')

In [6]:
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [7]:
df.dropna(inplace=True)

In [8]:
df.reset_index(inplace=True)

In [9]:
df.head(10)

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1
5,5,5,Jackie Mason: Hollywood Would Love Trump if He...,Daniel Nussbaum,"In these trying times, Jackie Mason is the Voi...",0
6,7,7,Benoît Hamon Wins French Socialist Party’s Pre...,Alissa J. Rubin,"PARIS — France chose an idealistic, traditi...",0
7,9,9,"A Back-Channel Plan for Ukraine and Russia, Co...",Megan Twohey and Scott Shane,A week before Michael T. Flynn resigned as nat...,0
8,10,10,Obama’s Organizing for Action Partners with So...,Aaron Klein,"Organizing for Action, the activist group that...",0
9,11,11,"BBC Comedy Sketch ""Real Housewives of ISIS"" Ca...",Chris Tomlinson,The BBC produced spoof on the “Real Housewives...,0

In [10]:
X=df['title'] 
y=df['label'] 
text = df['text']

In [11]:
import re 
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer

In [12]:
stemmer = PorterStemmer()

In [13]:
corpus=[]
for i in range(len(X)):
    review = re.sub('[^a-zA-Z]'," ",X[i])
    review = review.lower()
    review = review.split()
    review = [stemmer.stem(word) for word in review if word not in set(stopwords.words('english'))]
    review =" ".join(review)
    corpus.append(review)

In [14]:
# corpus_text=[]
# for i in range(len(X)):
#     review = re.sub('[^a-zA-Z]'," ",text[i])
#     review = review.lower()
#     review = review.split()
#     review = [stemmer.stem(word) for word in review if word not in set(stopwords.words('english'))]
#     review =" ".join(review)
#     corpus_text.append(review)

In [15]:
corpus[8]

'obama organ action partner soro link indivis disrupt trump agenda'

In [16]:
X[8]

'Obama’s Organizing for Action Partners with Soros-Linked ‘Indivisible’ to Disrupt Trump’s Agenda'

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

In [44]:
CV = CountVectorizer(max_features=5000,ngram_range=(1,5))

In [45]:
from sklearn.model_selection import train_test_split

In [46]:
X_train,X_test,y_train,y_test = train_test_split(corpus,y)

In [47]:
X_train = CV.fit_transform(X_train).toarray()

In [48]:
pd.DataFrame(X_train,columns=CV.get_feature_names())

,abandon,abc,abe,abedin,abort,abroad,absolut,abstain,abstain un,abstain un vote,...,youtub,yr,zealand,zero,zika,zika viru,zionist,zone,zu,zuckerberg
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13708,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13709,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13710,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13711,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13712,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
X_test = CV.transform(X_test).toarray()

In [50]:
from sklearn.naive_bayes import MultinomialNB 
News_detect_model = MultinomialNB()

In [51]:
News_detect_model.fit(X_train,y_train)

MultinomialNB()

In [52]:
y_pred = News_detect_model.predict(X_test)

In [53]:
from sklearn.metrics import accuracy_score

In [54]:
accuracy = accuracy_score(y_test,y_pred) 
print('accuracy : {}%'.format(accuracy*100))

accuracy : 89.89501312335958%

In [55]:
from sklearn.metrics import confusion_matrix

In [56]:
confusion_matrix(y_test,y_pred)

array([[2360,  279],
       [ 183, 1750]], dtype=int64)

In [71]:
eg = CV.transform(['College Republicans, YAF Sue Berkeley over Ann Coulter Event - Breitbart']).toarray()

In [76]:
if (News_detect_model.predict(eg)[0]):
    print('Fake News')
else:
    print('Real News')

Real News

In [77]:
News_detect_model.predict_proba(eg)

array([[9.99989369e-01, 1.06313420e-05]])